body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  font-family: 'Montserrat-Bold','Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  padding-top: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
